<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WorKiwi - Job Board</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css\style.css">
    </head>

    <body>
        <div class="border"></div>

        <div class="wrapper">
            <header class="main_header clearfix">
                <div class="logo">
                    <a href="#">
                        <img src="img\smile.svg" alt="Smile">
                        <h1>Work<span>.iwi</span></h1>
                    </a>
                    
                </div>
                <nav class="nav">
                    <a href="#">Full-Time</a>
                    <a href="#">Part-Time</a>
                    <a href="#">Thực tập</a>
                    <a href="#" class="btn btn-default custom_btn">Đăng việc</a>
                </nav>
            </header>

            <!-- Timeline -->
            <div class="container-fluid timeline">
                <div class="row">
                    <div class="col-xs-12 item-wrapper">
                        <a href="job-detail.html">
                            <div class="panel panel-default">
                                <div class="panel-body item clearfix">
                                    <div class="image_wrapper">
                                        <img src="img\twitter.jpg" alt="Twitter">
                                    </div>
                                    <div class="info">
                                        <span class="job_title">UX Designer</span>
                                        <span class="job_info">Twitter <span>&bull;</span> Hà Nội <span>&bull;</span> 10/10/2016</span>
                                    </div>
                                    <span class="job_type full_time hidden-xs">Full-Time</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-xs-12 item-wrapper">
                        <a href="#">
                            <div class="panel panel-default">
                                <div class="panel-body item clearfix">
                                    <div class="image_wrapper">
                                        <img src="img\product_hunt.jpg" alt="Product Hunt">
                                    </div>
                                    <div class="info">
                                        <span class="job_title">Product Designer</span>
                                        <span class="job_info">Product Hunt <span>&bull;</span> San Francisco <span>&bull;</span> 10/10/2016</span>
                                    </div>
                                    <span class="job_type full_time hidden-xs">Full-Time</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-xs-4 col-xs-offset-4 date text-center">Hôm nay</div>

                    <div class="col-xs-12 item-wrapper">
                        <a href="#">
                            <div class="panel panel-default">
                                <div class="panel-body item clearfix">
                                    <div class="image_wrapper">
                                        <img src="img\product_hunt.jpg" alt="Product Hunt">
                                    </div>
                                    <div class="info">
                                        <span class="job_title">Product Designer</span>
                                        <span class="job_info">Product Hunt <span>&bull;</span> San Francisco <span>&bull;</span> 10/10/2016</span>
                                    </div>
                                    <span class="job_type full_time hidden-xs">Full-Time</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-xs-12 item-wrapper">
                        <a href="#">
                            <div class="panel panel-default">
                                <div class="panel-body item clearfix">
                                    <div class="image_wrapper">
                                        <img src="img\product_hunt.jpg" alt="Product Hunt">
                                    </div>
                                    <div class="info">
                                        <span class="job_title">Product Designer</span>
                                        <span class="job_info">Product Hunt <span>&bull;</span> San Francisco <span>&bull;</span> 10/10/2016</span>
                                    </div>
                                    <span class="job_type full_time hidden-xs">Full-Time</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="load_more">
                    <button class="button">Load More</button>
                </div>
            </div>
        </div>
    </body>
</html>