@main:        #34324b;
@secondary:   #74718f;
@highlight_1: #fd7576;
@highlight_2: #fec85d;
@highlight_3: #4db8de;
@highlight_4: #a378fc;
@border:      #e6e7e9;
@logo:        darken(#b7e57e, 10);

body {
    font-family: 'Nunito', sans-serif;
    padding-bottom: 5em;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.border {
  height: 6px;
  border: 0;
  background-color: red;
  background-image:
    linear-gradient(
      to right, 
      @highlight_1,
      @highlight_1 25%,
      @highlight_2 25%,
      @highlight_2 50%,
      @highlight_3 50%,
      @highlight_3 75%,
      @highlight_4 75%,
      @highlight_4 100%,
      @highlight_4 100%
    );

  -webkit-background-size: 50% 100%;
  -moz-background-size: 50% 100%;
  background-size: 50% 100%;
}

@import "home.less";
@import "job.less";
@import "sign-in.less";